.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
Kruschke (2014 TEXT) Doing Bayesian data analysis, Second Edition, A tutorial with R, JAGS, and Stan.pdf
Kruschke (2014 TEXT) model diagrams.pdf
fits/
notes.R

